@page
@model Reci_Go.Pages.User.UpdateModel
@{
}

<form method="post">
    <div class="form-group">
        <input type="hidden" name="id" class="form-control" value="@Model.User.Id" asp-for="@Model.User.Id">
        <label class="text-light bg-dark p-2 rounded">UserName</label>
        <input type="text" name="username" class="form-control" readonly value="@Model.User.Username" asp-for="@Model.User.Username">
    </div>
    <div class="form-group">
        <label class="text-light bg-dark p-2 rounded">Name</label>
        <input type="text" name="name" class="form-control" value="@Model.User.Name" asp-for="@Model.User.Name">
    </div>
    <div class="form-group">
        <label class="text-light bg-dark p-2 rounded">Email</label>
        <input type="email" name="email" class="form-control" value="@Model.User.Email" asp-for="@Model.User.Email">
    </div>
    <div class="form-group">
        <label class="text-light bg-dark p-2 rounded">Password</label>
        <input type="password" name="password" class="form-control" value="@Model.User.Password" asp-for="@Model.User.Password">
    </div>
    <div class="form-group">
        <label class="text-light bg-dark p-2 rounded">IsAdmin</label>
        <!--Change to check box-->
        <input type="checkbox" name="is_admin" class="form-control" value="@Model.User.IsAdmin" asp-for="@Model.User.IsAdmin">
    </div>
    <div class="form-group">
        <label class="text-light bg-dark p-2 rounded">IsBlocked</label>
        <!--Change to check box-->
        <input type="checkbox" name="is_blocked" class="form-control" value="@Model.User.IsBlocked" asp-for="@Model.User.IsBlocked">
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
